h1 投稿詳細
h2 タイトル
p = @list.title
h2 本文
p = @list.body
h2 画像
- if @list.image.attached?
  = image_tag @list.image, size: "300x300"
- else
  = image_tag 'no_image', size: "300x300"
= link_to "編集", edit_list_path(@list.id)
= button_to "削除", destroy_list_path(id: @list.id), data: { turbo_method: :delete }, "data-confirm" => "本当に削除しますか？"